
<header class="jumbotron" >

  <!-- Main component for a primary marketing message or call to action -->

  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-8">
        <h1>Browser Assistant</h1>
        <p style="padding:40px;"></p>
        <p>
          1. Develop a chrome plugin to monitor the user’s website browsing history and contents. <br/>
          2. Do clustering for user’s browsing preference on cloud <br/>
          3. Build a web application to visualize the user’s browsing statistic data and provide history search according to the words appearing in the website. <br/>
          4. Make website recommendation that user may be interested in according to their preference <br/>

        </p>
      </div>

    </div>
  </div>
</header>






